@import url("extensions.css");

@-moz-document url(chrome://browser/content/browser.xhtml)
{
  /*
   Set the background color for most loading screens
  */
  #main-window,
  browser[type="content-primary"],
  browser[type="content"],
  tabbrowser#content,
  #content,
  browser[type="content"] > html {
    background-color: #24273a !important;
  }

  /*
   Fix the space between pinned tabs
  */
  #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
  }

  .titlebar-button {
    color: #a6da95 !important;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }

  .titlebar-button:hover {
    background-color: #24273a !important;
  }

  .titlebar-close:hover {
    background-color: #ed8796 !important;
  }
}
