@-moz-document url(chrome://browser/content/browser.xul), url(chrome://browser/content/browser.xhtml)
{
  #ublock0_raymondhill_net-BAP {
    --icon-svg: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjggMTI4IiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9ImNvbnRleHQtZmlsbCIgZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsLW9wYWNpdHk9ImNvbnRleHQtZmlsbC1vcGFjaXR5Ij48cGF0aCBkPSJtNjQuMDAzIDEyOGM1Ni0zMiA1Ni0zMiA1Ni0xMTItMjQgMC0zMiAwLTU2LTE2bTAgMTI4Yy01Ni0zMi01Ni0zMi01Ni0xMTIgMjQgMCAzMiAwIDU2LTE2em0tMWUtMyAtMTEuOTk3YzQ1LjUtMjYgNDUuNS0yNiA0NS41LTkxLjAwMS0xOS41IDAtMjYgMC00NS41LTEzbTAgMTA0Yy00NS41LTI2LTQ1LjUtMjYtNDUuNS05MS4wMDEgMTkuNSAwIDI2IDAgNDUuNS0xM3ptLTNlLTMgLTUxLjk5OWMwIDExLTUgMTYtMTYgMTZzLTE2LTUtMTYtMTZ2LTI0aDh2MjRjMCA3IDEgOCA4IDhzOC0xIDgtOHYtMjRoOHoiLz48cGF0aCBkPSJtNTYgNjBhMTggMTggMCAxIDEgNDAgMCAxOCAxOCAwIDEgMS00MCAwbTggMGExMiAxMiAwIDEgMSAyNCAwIDEyIDEyIDAgMSAxLTI0IDAiLz48L3N2Zz4=");

    --webextension-menupanel-image: var(--icon-svg) !important;
    --webextension-menupanel-image-light: var(--icon-svg) !important;
    --webextension-menupanel-image-dark: var(--icon-svg) !important;
    --webextension-menupanel-image-2x: var(--icon-svg) !important;
    --webextension-menupanel-image-2x-light: var(--icon-svg) !important;
    --webextension-menupanel-image-2x-dark: var(--icon-svg) !important;
    --webextension-toolbar-image: var(--icon-svg) !important;
    --webextension-toolbar-image-light: var(--icon-svg) !important;
    --webextension-toolbar-image-dark: var(--icon-svg) !important;
    --webextension-toolbar-image-2x: var(--icon-svg) !important;
    --webextension-toolbar-image-2x-light: var(--icon-svg) !important;
    --webextension-toolbar-image-2x-dark: var(--icon-svg) !important;

    fill: #ed8796 !important;
  }

  #ublock0_raymondhill_net-BAP[style~="url(\"moz-extension://aae73e00-47dd-47e9-93c3-fcf95f931188/img/icon_32-off.png\");"] {
    opacity: var(--toolbarbutton-disabled-opacity);
    fill: var(--toolbarbutton-icon-fill) !important;
  }

  #ublock0_raymondhill_net-BAP[style~="url(\"moz-extension://aae73e00-47dd-47e9-93c3-fcf95f931188/img/icon_32-loading.png\");"] {
    fill: #eed49f !important;
  } 
}
